<article>
    <div>
        <img id="img" src={{draw_url}}>
    </div>
    <div id="post-info">
        <a href="/post/{{id}}" id="post-title">{{title}}</a>
        <h3 id="creator">By: {{user.username}} on {{format_date created_at}}</h3>
        <button id="like" class="fa fa-thumbs-up"></button>
        <span id="likes">{{vote_count}} likes</span>
        {{!-- <button id="delete">delete</button> --}}
    </div>
</article>