<article>
    <div>
        <img src="{{post_drawing}}" id="img">
    </div>
    <div id="post-info">
        <h2 id="post-title">{{post_title}}</h2>
        <h3 id="creator">By: {{post_username}} {{post_date}}</h3>
        <button id="like" class="fa fa-thumbs-up"></button>
        <span id="likes">{{post_likes}} likes</span>
    </div>
</article>