<article>
    <div>
        <img id="img" src={{draw_url}}>
    </div>
    
    <div id="post-info">
        <h2 id="post-title">{{title}}</h2>
        <h3 id="creator">By: {{user.username}} on {{format_date created_at}}</h3>
        <button id="like" class="fa fa-thumbs-up"></button>
        <span id="likes">{{vote_count}} likes</span>
    </div>
</article>